{% extends 'base.html' %}

{% block body %}
<h1 class='text-center'></h1>
<form action="{% url 'students:update' student.pk %}" method='POST'>
{% csrf_token %}
<label for="name">NAME</lable> <input id="name" type="text" name="name" value="{{ student.name }}"><br>
<label for="age">AGE</lable> <input id="age" type="number" name="age" value="{{ student.age }}"><br>
<lable for="email">EMAIL</lable> <input id="email" type="email" name="email" value="{{ student.email }}"><br>
<input type="submit">
</form>
<hr>
<a href="{% url 'students:detail' student.pk %}">BACK</a>
{% endblock body %}