{% extends 'base.html' %}

{% block body %}

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">영화 목록</span>
  <button type="button" class="btn btn-primary float-right" onclick="location.href='{% url 'movies:create' %}'">신규</button>
</nav>

<div class="container">
  <div class="row">
    {% for movie in movies %}
    {% comment %} <div class="card mb-4 shadow-sm" style="width: 12rem;"> {% endcomment %}
    <div class="card col-12 col-sm-6 col-md-4 col-lg-2 col-lg-2 shadow-sm" style="width: 12rem;">
      <img src="{{movie.poster_url}}" class="card-img-top" alt="영화 이미지">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text">
          <small class="text-muted">장르:{{movie.genre}}</small>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'movies:detail' movie.pk %}'">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url 'movies:update' movie.pk %}'">Edit</button>
          </div>
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
