{% load bootstrap4 %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>04_django_form</title>
{% bootstrap_css %}
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/a84f15c24e.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">
    {% if user.is_authenticated %}
      <h2><img class="rounded-circle" src="https://s.gravatar.com/avatar/{{ user.email|makemd5 }}?s=80" alt="">어서오세요, {{user.username}}</h2>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'accounts:logout' %}">로그아웃</a>
      <a class="btn btn-outline-primary btn-sm" href={% url 'accounts:update'%}>정보수정</a>
      <a class="btn btn-outline-primary btn-sm" href={% url 'accounts:change_password'%}>암호변경</a>
    {% else %}
      <a class="btn btn-outline-primary btn-sm" href="{% url 'accounts:login' %}">로그인</a>
      <a class="btn btn-outline-primary btn-sm" href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    
    {% block body %}
    {% endblock body %}
  </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>