{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">DETAIL </h1>
<P>글 번호:{{article.pk}}</P>
<P>글 제목:{{article.title}}</P>
<P>글 내용:{{article.content}}</P>
<P>생성시각:{{article.created_at}}</P>
<P>수정시각:{{article.updated_at}}</P>
<hr>
<a href="{% url 'articles:index' %}">[BACK]</a>
<a href="{% url 'articles:update' article.pk %}">[EDIT]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" style="display:inline;" onclick="return confirm('정말로 삭제하시겠습니까?');">
{% csrf_token %}
<input type="submit" value="DELETE">
</form>
{% endblock body %}
