{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
{% load static %}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">영화 상세 정보</span>
</nav>
<form class="form">
{% csrf_token %}
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">제목</label>
    <div class="col-sm-10">
      {{movie.title}}
    </div>
  </div>
  <div class="form-group row">
    <label for="poster_url" class="col-sm-2 col-form-label">이미지경로</label>
    <div class="col-sm-10">
      {% if movie.poster %}
      <img src="{{movie.poster.url}}" alt="" style="width:250px;"/><br>
      {% else %}
      <!--이미지 없는경우-->
      <img src="{% static 'movies/images/no_image.jpg' %}" alt="no_image" style="width:250px;">
      {% endif %}
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">설명</label>
    <div class="col-sm-10">
      <pre>{{movie.description}}</pre>
    </div>
  </div>
   <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">생성일</label>
    <div class="col-sm-10">
      {{movie.created_at}}
    </div>
  </div>
   <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">수정일</label>
    <div class="col-sm-10">
      {{movie.updated_at}}
    </div>
  </div>
   <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">작성자</label>
    <div class="col-sm-10">
      {{movie.user.username}}
    </div>
  </div>
  <input type="button" class="btn btn-primary" value="목록" onclick="location.href='{% url 'movies:index' %}'">
  {% if movie.user == request.user %}
  <input type="button" class="btn btn-danger" value="삭제" onclick="location.href='{% url 'movies:delete' movie.pk %}'">
  <input type="button" class="btn btn-primary" value="수정" onclick="location.href='{% url 'movies:edit' movie.pk %}'">&nbsp;
  {% endif %}

</form>
<hr>
<br>
 {% if user.is_authenticated %}
<form action="{% url 'movies:rating_create' movie.pk %}" method="POST">
  <!-- POST 요청할 때 반드시 설정 -->
  {% csrf_token %}
  {% bootstrap_form rating_form layout='inline' %}
  <div class="text-center">
    {% buttons submit='댓글작성' %}{% endbuttons %}
  </div>
</form>
{% else%}
<a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인 해주세요]</a>
{% endif %} 

<hr>
<p><b>평점목록({{ratings|length}}개)</b></p>
{% for rating in ratings %}
<p>[{{forloop.revcounter}}]평점:{{rating.score}}/내용:{{rating.content}}<br> <small>{{rating.user.username}} | {{rating.created_at|date:"SHORT_DATETIME_FORMAT"}}</small>
{% if rating.user == request.user %}
<form action="{% url 'movies:ratings_delete' movie.pk rating.pk %}" id="f_rating_delete" method="POST" >
{% csrf_token %}<button type="button" class="btn btn-outline-danger btn-sm" onclick="javascript:document.getElementById('f_rating_delete').submit();">평점삭제</button>
</form>
{% endif %}
</p>
{% endfor %} 

{% endblock body %}
